.vs/
.vscode/
.idea/
dist/
game-client/
node_modules/
replays/
packages/chronodivide-bot-driver/debug/
packages/chronodivide-bot-launcher/
*.tgz
*.rpl
*.log
*.cpuprofile
.env
*.mpr
*.tsbuildinfo

# extracted game files
*.ini
*.mix
*.bag
*.idx

# maps - only allow maps directly in the test data 
*.map
!packages/chronodivide-bot-driver/data/*.map