.vs/
.vscode/
.idea/
dist/
node_modules/
replays/
packages/chronodivide-bot-driver/debug/
*.tgz
*.rpl
*.log
*.cpuprofile
.env
*.mpr
*.tsbuildinfo

# extracted game files
*.map
*.ini
*.mix
*.bag
*.idx
